:root {
    --imperial-red: #ff203eff;
    --bright-pink-crayola: #ff556cff;
    --salmon-pink: #ff9aa8ff;
    --azure: #3884ffff;
    --cornflower-blue: #5f9cffff;
    --jordy-blue: #a2c5ffff;
    --screamin-green: #9bff8aff;
    --tea-green: #c3ffb8ff;
    --tea-green-2: #dbffd4ff;
    --icterine: #fff75cff;
    --icterine-2: #fff981ff;
    --cream: #fffcbdff;
    --eerie-black: #242424ff;
    --jet: #323232ff;
    --dim-gray: #636363ff;
}

